/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	
	
}


#container {
	
}

header {
    opacity: 33%;
    color: #252a33;
    font-size: 300px;
    color: #525354;
    text-shadow: 100px 40px 5px #0a306e;
}

.someguy {
    font-size: 300px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #082554;
    text-shadow: 150px 40px 5px #7083a1;
    rotate: -30deg;
    display: inline-block;
}

.supereye {
    font-size: 400px;
    color: #324c75;
    position: fixed;
    top: 50px;
    right: 50px;
    text-shadow: 50px 100px 10px #324c75;
    
    
}

.whatever {
    font-size: 100vw;
    position: relative;
    bottom: 0px;
    right: 0px;
    text-shadow: 100px 100px 10px #98b9ed;
    color: #152338;
}

.omar {
    font-size: 400px;
    color: #4779c9;
    rotate: 45deg;
    display: inline-block;
    
}

.chavo {
    font-size: 200px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-shadow: 70px 100px 10px #b3ccf5;
    color: #2459ad;
   
}

.yaya {
    font-size: 300px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-shadow: 2px 20px 10px #2f6bcc;
    color: #041a3d;
    
}

.mom {
    font-size: 400px;
    color: #4779c9;
    rotate: -45deg;
    display: inline-block;
    
}

.dad {
    font-size: 200px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-shadow: 70px 100px 10px #b3ccf5;
    color: #2459ad;
    
    
}

.grandpa {
    font-size: 400px;
    color: #324c75;
    position: relative;
    top: 50px;
    left: 50px;
    text-shadow: 50px 100px 10px #324c75;
    
    
}